.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-actual img {
    width: auto;
    height: 400px;
    border: 2px solid black;
}

.miniaturas {
    display: flex;
    justify-content: center;
}

.miniatura {
    width: 80px;
    height: 50px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #ccc;
}

.miniatura:hover {
    border: 2px solid blue;
}

.miniatura.activa {
    width: 100px;
    height: 60px;
    border: 2px solid rgb(0, 255, 0);
}
